div.tagsinput { border:1px solid #CCC; background: #FFF; padding: 3px; width:300px; height:100px; overflow-y: auto; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
div.tagsinput span.tag { -moz-border-radius:2px; -webkit-border-radius:2px; display: block; float: left; padding: 5px; text-decoration:none; background: #3879d9; color: #fff; margin-right: 3px; margin-bottom:3px;font-family: Helvetica;  font-size:12px;}
div.tagsinput span.tag a { font-weight: bold; color: #fff; text-decoration:none; font-size: 11px;  } 
div.tagsinput input { width:80px; margin:0px; font-family: helvetica; font-size: 11px; border:1px solid transparent; padding:5px; background: transparent; color: #000; outline:0px;  margin-right:5px; margin-bottom:5px; }
div.tagsinput div { display:block; float: left; } 
.tags_clear { clear: both; width: 100%; height: 0px; }

.tagsinput .item-ico { 
	width:31px; height:31px; float:left;
	margin-right: 6px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-style:solid; border-width:1px;
	box-shadow:inset 0 0 8px #000, 0 0 5px #000;
	overflow:hidden;
	}
	.tagsinput .item-ico a {
	display:block; 
	width:54px; height:54px;
	box-shadow:inset 0 0 7px #000, inset 0 0 12px #000,inset 0 0 2px 1px #000;
	background-size:60%;
	padding:0; margin:0;
	}
	
	.tagsinput span.poor {background-color:#2a2a2a !important;}		/* Poor */
	.tagsinput span.common {background-color:#8d8d8d !important;} 		/* Common */
	.tagsinput span.uncommon {background-color:#2f8d00 !important;} 	/* Uncommon */
	.tagsinput span.rare {background-color:#366281 !important;} 		/* Rare */
	.tagsinput span.epic {background-color:#643681 !important;} 		/* Epic */
	.tagsinput span.legendary {background-color:#ba6c2d !important;} 	/* Legendary */
	.tagsinput span.artifact {background-color:#6b6139 !important;} 	/* Artifact */
	.tagsinput span.heirloom {background-color:#6b6139 !important;} 	/* Heirloom */