/* SUPPORT PAGES */
.archived-news{
	width:773px;
	margin:27px 0 0 0;
	padding:30px 35px 30px 35px
	}	
	
	/* Addons Page */
	
	.addons-info-top {
		padding: 0 0 50px 0;
		}
		.addons-info-top h3 {
			font-size:18px;
			color:#918979;
			text-shadow:0 0 3px rgba(0,0,0,.7), 0 1px 1px rgba(0,0,0,.5);
			}
		.addons-info-top p {
			display:block;
			font-size:11px;
			padding:10px 0 0 0;
			color:#7a7a70;
			text-shadow:0 0 3px rgba(0,0,0,.7), 0 1px 1px rgba(0,0,0,.5);
			}
		.addons-info-top i {
			display:block;
			padding:5px 0 0 0;
			color:#616159;
			text-shadow:0 0 3px rgba(0,0,0,.7), 0 1px 1px rgba(0,0,0,.5);
			}
			.addons-info-top i a {
			font-size:11px;
			color:#616159;
			text-shadow:0 0 3px rgba(0,0,0,.7), 0 1px 1px rgba(0,0,0,.5);
			}
			.addons-info-top i a:hover {color:#be8b31;}
	
		.addon-row {
		padding:0 0 20px 0;
		margin: 0 0 20px 0;
		border-bottom:dotted 1px rgba(0,0,0,.5);
		}
		.addon-row h4 {
			display:block;
			font-size:13px;
			font-weight: bold;
			padding: 0 0 7px 0;
			color:#7a7665;
			text-shadow:0 0 3px rgba(0,0,0,.7), 0 1px 1px rgba(0,0,0,.5);
			}
			.addon-row p {
			font-size:12px;
			font-style:italic;
			color:#5c5a59;
			text-shadow:0 0 3px rgba(0,0,0,.7), 0 1px 1px rgba(0,0,0,.5);
			}
			.addon-row div#addon-navigation {
			padding:15px 0 0 0;
			color:#000;
			text-shadow: 1px 1px 0 rgba(255,255,255,.03);
			}
			.addon-row div#addon-navigation a {
			text-transform:uppercase;
			font-size:12px;
			font-weight: bold;
			text-shadow:0 0 3px rgba(0,0,0,.7), 0 1px 1px rgba(0,0,0,.5);
			}
			
			.addon-row div#addon-navigation a.source { font-style: normal; text-transform:none; }
			.addon-row div#addon-navigation a.source:hover {}
			
			.addon-row div#addon-navigation a.download { color:#577e14;}
			.addon-row div#addon-navigation a.download:hover { color:#91c319;}
			
						
	/* Working Content */
	
	.working-content {
		padding:40px 50px 40px 50px;
		border-radius:5px;
		overflow:hidden;
		background:url(images/misc/content-wotlk-image-top.jpg) no-repeat top right, 
				   url(images/misc/content-wotlk-image-bottom.jpg) no-repeat bottom right;
		}
		.top-patch-info {
		padding: 0 0 20px 0;
		}
		
		.top-patch-info h2 {
			padding: 0 0 10px 0;
			font-size:23px;
			font-weight: bold;
			color:#c1d6dc;
			text-shadow:0 0 4px rgba(0,0,0,.7), 0 1px 1px rgba(0,0,0,.7);
			}
			/* Text effect */
			.top-patch-info h2 p {
			position:absolute;
			top:16px; left:0;
			width:300px; height:17px;
			background:rgba(26,25,23,.15);
			box-shadow:0 0 8px rgba(26,25,23,.2);
			}
			.top-patch-info h2 i {
			font-weight:normal;
			font-size:13px;
			font-family:Verdana, Geneva, sans-serif;
			text-transform:none;
			padding: 0;
			top:-5px;
			color:#51504f;
			text-shadow:0 0 4px rgba(0,0,0,.7), 0 1px 1px rgba(0,0,0,.7);
			}
		
		.top-patch-info h5 {
		font-family:Verdana, Geneva, sans-serif;
		font-size:13px;
		font-weight: normal;
		text-shadow:0 0 5px rgba(0,0,0,.9),0 0 5px rgba(0,0,0,.6), 0 1px 1px rgba(0,0,0,.7);
		color:#968d82;
		width:82%;
		line-height:155%;
		}
		
	.content-row {
		margin:20px 0 0 0;
		padding: 0 0 30px 0;
		border-radius:5px;
		font-family:Verdana, Geneva, sans-serif;
		font-size:11px;
		}
		.content-row h3 {
			display:block;
			padding:0 0 10px 0;
			margin: 0 0 10px 0;
			font-family:Arial, Helvetica, sans-serif;
			font-size:12px;
			color:#78726a;
			text-transform:uppercase;
			border-bottom: dotted 2px #403e3b;
			text-shadow:0 0 4px rgba(0,0,0,.6);
			}
			.content-row p {
				display:block;
				padding:2px 0 2px 0;
				text-shadow:0 0 4px rgba(0,0,0,.6);
				color:#665f57;
				}
				.content-row p font {
				font-weight: bold;
				display:inline-block;
				text-align:left;
				padding: 0 8px 0 0;
				}
				.content-row ul.numbers-list { 
					padding: 5px 0 0 40px;
					}
				.content-row ul.numbers-list li {
					list-style:disc;
					font-family:Verdana, Geneva, sans-serif;
					font-size:11px;
					font-style:italic;
					color:#736e68;
					text-shadow:0 0 4px rgba(0,0,0,.6);
					}
					.content-row ul.numbers-list li b {font-style:normal;}
	
	
	/* HOW TO */
	
	.how-to-top-info {
		text-align:center;
		padding:0 0 30px 0;
		font-family:Verdana, Geneva, sans-serif;
		font-size:14px;
		color:#9d9387;
		text-shadow:0 0 5px rgba(0,0,0,.5),0 0 5px rgba(0,0,0,.2), 0 1px 1px rgba(0,0,0,.7);
		}
	
	.howto-row {}
		.howto-row .howto-row-title {
			font-family:Arial, Helvetica, sans-serif;
			font-size:14px;
			letter-spacing:0;
			color:#766e64;
			font-weight:bold;
			text-shadow:0 0 5px rgba(0,0,0,.5),0 0 5px rgba(0,0,0,.2), 0 1px 1px rgba(0,0,0,.7);
			background:rgba(255,255,255,.05);
			padding:15px 22px 16px 22px;
			box-shadow:0 0 10px rgba(0,0,0,.5), inset 0 0 0 1px rgba(255,255,255,.02), inset 0 -25px 0 rgba(0,0,0,.1);
			margin:0 0 10px 0;
			border-radius:4px;
			cursor: pointer;
			}
			.howto-row .howto-row-title:hover {
				background:rgba(255,255,255,.06);
				box-shadow:0 0 15px rgba(0,0,0,.6), inset 0 0 0 1px rgba(255,255,255,.02), inset 0 -25px 0 rgba(0,0,0,.1);
				}
		
		.howto-row .howto-row-content {
			font-family:Verdana, Geneva, sans-serif;
			color:#5f5950;
			text-shadow:0 0 5px rgba(0,0,0,.6),0 0 5px rgba(0,0,0,.3), 0 1px 1px rgba(0,0,0,.7);
			padding:5px;
			margin:0 0 5px 0;
			}
			.howto-row .howto-row-content p {
				display:block;
				padding:3px 0 3px 0;
				}
				.howto-row .howto-row-content p a {color:#90877d;}
				.howto-row .howto-row-content p a:hover {color:#f4aa29;}
				
				.howto-row .howto-row-content p span { color:#968c80;}
				
				.howto-row .howto-row-content p b {
					font-size:13px;
					color:#766e64;
					}
				
				.howto-row .howto-row-content p#sub-content {
					padding:3px 0 3px 20px;
					}
					.howto-row .howto-row-content p#sub-content b { font-size:12px;}
					
		.realmlist-file-image {
			width:681px; height:53px;
			background:url(images/misc/realmlist-screanshot.jpg) no-repeat;
			box-shadow:inset 0 0 0 2px #ebc662, inset 0 0 15px rgba(0,0,0,.5);
			margin:5px 0 10px 17px;
			}
				
				
		
	
	
	
	
	
	
	
	
	
	