/*
-------------------------------------------------------------------------------------------------------
 Refund
-------------------------------------------------------------------------------------------------------
*/
		
		
div.items {
	padding: 40px 0 40px 0;
	}

	div.items ul.item-row {
		width:92%; height:42px;
		background:rgba(255,255,204,.03);
		border-radius:4px;
		box-shadow:0 0 8px rgba(0,0,0,.2), 0 1px 1px rgba(0,0,0,.4), inset 0 0 0 1px rgba(255,255,255,.02);
		margin:0 0 5px 0;
		}
		
		div.items ul.item-row li {
			display:block;
			float:left;
			padding:0;
			margin:2px 0 0 5px;
			}
		
		ul.item-row li.item-icon {
			}
			ul.item-row li.item-icon img {
			display:block;
			width:32px; height:32px;
			background-size:100%;
			border-radius:3px;
			box-shadow:0 0 5px rgba(0,0,0,.7), inset 0 0 0 1px #FC0, inset 0 0 2px 3px rgba(0,0,0,1);
			}
			
		ul.item-row li.item-info { text-align:left; text-shadow:0 1px 1px rgba(0,0,0,.5), 0 0 4px rgba(0,0,0,.5), 1px 1px 0 rgba(0,0,0,.5);}
			ul.item-row li.item-info h2 { font-size:16px; padding:2px 0 0 0;}
			ul.item-row li.item-info h5 { color:#918979;}
			
		ul.item-row li.character {
			text-align:left;
			display:block;
			background:rgba(255,255,255,.02);
			height:33px;
			top:-2px;
			padding:9px 0 0 10px !important;
			margin:2px 0 0 10px !important;
			border-radius:3px;
			box-shadow:0 0 8px rgba(0,0,0,.4), -1px 0 0 rgba(0,0,0,.2), 1px 0 0 rgba(0,0,0,.2), inset 0 0 8px rgba(255,255,255,.04), inset 1px 0 0 rgba(255,255,255,.05);
			float:right !important;
			}
		ul.item-row li.refund-btn { float:right !important;}
			ul.item-row li.refund-btn a {
			display:block;
			text-transform:uppercase;
			font-weight:bold;
			color:#FC0;
			text-shadow:0 1px 1px rgba(0,0,0,.4);
			background:rgba(255,204,102,.15);
			padding:5px 10px;
			border-radius:2px;
			margin:7px 8px 0 3px;
			box-shadow:inset 0 0 0 1px rgba(255,255,255,.03), 0 1px 2px rgba(0,0,0,.4), inset 0 1px 0 rgba(255,255,204,.08);
			}
			ul.item-row li.refund-btn a:hover {
				background:rgba(255,204,102,.17);
				box-shadow:inset 0 0 0 1px rgba(255,255,255,.03), 
							0 1px 2px rgba(0,0,0,.4),
							inset 0 1px 0 rgba(255,255,204,.08),
							0 0 8px rgba(0,0,0,.3)
							;
				text-shadow:0 0 3px rgba(255,255,0,.5);
				}
		
		ul.item-row li.sent-to { float:right !important;}
			ul.item-row li.sent-to p {
			padding:12px 0 0 0;
			font-weight:bold;
			color:rgba(255,255,255,.2);
			}
		
		
		
		
